body {
	margin:0;
	padding:0;
}

p {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	text-align:center;
	font-family:'Amiko', sans-serif;
	font-size: 2em;
}

h2 {
	font-family: 'Amiko', sans-serif;
}

nav ul {
	list-style: none; /*Removes bullet points*/
	padding:0;
	text-align: center;
}

/*Creates hover effect on nav menu items*/
nav ul li a:hover {
	color:#3d3d3d;
}

nav ul li a{
	color:#ea7c02;
	text-decoration: none;
	font-family:'Open Sans', sans-serif;
	display:block;
	padding:10px 15px;
	line-height: 1.5;
}

nav div:first-child h1, nav ul {
	margin:0;
}

/*Styling Logo*/
nav div:first-child h1 {
	line-height: 0;
	text-align: center;
	padding:20px 15px 10px 35px;
}

#hero {
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	position:relative;
	height:95vh;
	box-sizing:border-box;
	/*From W3 schools*/
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/barista.jpg");
}

.hero-txt {
	/* https://designshack.net/articles/css/12-fun-css-text-shadows-you-can-copy-and-paste/*/
	text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
	text-align:center;
	position:absolute;
	top:45%;
	left:28%;
	transform:translate(-50%,-50%);
	color:white;
	font-size:2.75em;
	font-family:'Amiko', sans-serif;
}

.hero-header {
	margin:0px;
}

/*****OUR STORY*****/
#story {
	padding:8em;
}

.story-txt {
	margin:0 auto;
	max-width:25em;
	text-align: center;
	font-size: 1em;
	font-family:'Amiko', sans-serif;
	color:#3d3d3d;
}


/*****COFFEE SECTION*****/
#coffee{
	padding:8em;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../images/three-coffees.jpg");
	color:white;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.coffee-txt {
	margin:0 auto;
	max-width:25em;
	text-align: center;
	font-size: 1em;
	font-family:'Amiko', sans-serif;
	color:#fff;
}

/*****LOCATIONS SECTION*****/

.row {
	display:flex;
	flex-direction: row;
	width:100%
}

.column {
	display:flex;
	flex-direction:column;
	width:33.33%; /*This creates a three column layout - each img - column is a 1/3 */
}

.location-img {
	max-width: 100%;  /*This ensures that the images take up 100% of the div*/
	height:450px; /*This sets the height of the images*/
}

/***LOCATION IMAGE HOVER EFFECTS AND STYLES***/

/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_slidetop */
.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/****FOOTER STYLES****/
footer {
	color:white;
	background:#3d3d3d;
}

/*Styling for larger screen*/

@media only screen and (min-width:768px){
	nav {
		display:flex;
		justify-content: space-between;
	}

	nav ul{
		display:flex;
		align-items:center;
		padding-right:58px;
		padding-top:50px;
	}

}